<footer class="footer">
  <div class="site-section">
    <div class="container">
      </div>
        <div class="row">
          <div class="col-sm">
            <h3>Clientes</h3>
            <ul class="list-unstyled links">
              <li><a href="#">Arrendador</a></li>
              <li><a href="#">Arrendatarios</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Nosotros</h3>
            <ul class="list-unstyled links">
            <li><%= link_to "about page", about_path %></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Más información</h3>
            <ul class="list-unstyled links">
            <li><%= link_to "Preguntas frecuentes", preguntas_frecuentes_path %></li>
            <li><%= link_to "Aviso de privacidad", aviso_de_privacidad_path %></li>
            <li><%= link_to "Garantia", garantia_path %></li>
            <li><%= link_to "Terminos de servicio", terminos_de_servicio_path %></li>
            </ul>
          </div>
        <div class="col-md-3">
          <h3>Siguenos</h3>
          <ul class="list-unstyled social">
          <i class="fab fa-linkedin"></i>
          <li><a href="#"></span></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></span></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>