<h1>This is the home page</h1>

<h2>nav menu</h2>

<ul>
  <li>
    <%= link_to "about page", about_path %>
  </li>
  <li>
    <%= link_to "garantia", garantia_path %>
  </li>
  <li>
    <%= link_to "Aviso de privacidad", aviso_de_privacidad_path %>
  </li>
  <li>
    <%= link_to "Preguntas frecuentes", preguntas_frecuentes_path %>
  </li>
  <li>
    <%= link_to "terminos de servicio", terminos_de_servicio_path %>
  </li>
</ul>

<h2>nav menu</h2>
<ul>
  <li>
    <%= link_to "products", products_path %>
  </li>
  <li>
    
  </li>
  <li>
    
  </li>
  <li>
    
  </li>
  <li>
    
  </li>
</ul>






